@model MICCookBook.Web.Models.Recipe

@{
    ViewBag.Title = Model.Title;
}

<div class="row">
    <div class="col-md-8">
        <h2>@Model.Title</h2>
        <img src="@Model.Picture" class="img-responsive" />
        <p class="text-format">@Model.Description</p>
    </div>
    <div class="col-md-4">
        <h4>Les avis</h4>
        @foreach (var evalutation in Model.Evaluations)
        {

        }
    </div>
</div>

