<?xml version="1.0"?>
<appSettings>
  <!-- Keys for BotFramework -->
  <add key="BotId" value="YourBotId" />
  <add key="MicrosoftAppId" value="" />
  <add key="MicrosoftAppPassword" value="" />
  
  <!-- Keys for LUIS -->
  <add key="ModelId" value="YourId"/>
  <add key="SubscriptionKey" value="YourKey"/>
</appSettings>