header {
    background-image: url('/content/img/header2.jpg');
}

section#contact {
    background-image: url('/content/img/map-image.png');
}

.body-content {
    margin-top: 70px;
    padding-top: 50px;
    min-height: 700px;
}

.text-format {
    white-space: pre-line;
}

#portfolio .portfolio-item .portfolio-hover.hover {
    opacity: 1;
}

#portfolio .portfolio-item .portfolio-link {
    overflow: hidden;
    display: flex;
    align-items: center;
}

    #portfolio .portfolio-item .portfolio-link .img-sizer {
        width: 100%;
    }

    #portfolio .portfolio-item .portfolio-link .portfolio-picture {
        position: absolute;
    }
